root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.java]
indent_size = 4

[*.{sql,xml,yml,yaml,json,html,css,scss}][*.sql]
indent_size = 2

[*.{kt,kts}][*.sql]
indent_size = 4